{%extends "Blog/home.html"%}
{%load static%}

{%block body%}
{%block content%}


<center>


{% for post in job_list%}
<div class="jumbotron" >
  <h1  style="margin-top:10px;">{{post.title}}</h1>

    {{post.description|truncatewords:50 |safe}}

  <hr class="my-1">
  <center>

      <h6 style="font-weight:bold; letter-spacing: 2px;  word-spacing: 5px;">Published on {{post.created}} By  : {{post.adminName|title}}</h6>


    <br>
    <a  class="explore btn-success btn-lg" href="/offcampus/{{post.id}}" onClick="document.getElementById('blogContent').scrollIntoView();" role="button" style="text-decoration: none;">Apply Now</a>
    </center>
  <hr />
</div>

{%endfor%}
</center>

{%endblock%}


{%block BlogsDetai%}
{%endblock BlogsDetai%}


{%endblock%}
